@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0d1321;
  --background: #f8fafc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f1f5f9;
    --background: #0d1321;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
